<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Madlibs</title>
    <link rel="stylesheet" href="https://unpkg.com/some-nice-basic-css/global.css" />
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <nav class="container navigation">
        <a class="logo" href="/">Madlibs</a>
        <div class="second-nav">
            <a href="/about">About</a>
        </div>
    </nav>

    <div class="stack container bordered">
        {{ content | safe }}
    </div>
</body>

<script>
    const form = document.querySelector('.submit')
    function showText() {
        const textDiv = document.querySelector('.madlibtext')
        textDiv.classList.toggle('show')
    }
    form.addEventListener('submit', runLib);
  
    function runLib(event) {
      event.preventDefault();
      const inputs = Array.from(form.elements)
      console.log(form.elements)
      inputs.map(input => {
        if (input.type != 'text') return
        const replacedContent = document.getElementById(input.name)
        replacedContent.innerHTML = input.value
      })
      showText();
      
    }

    const saver = document.querySelector('.saver')
    saver.addEventListener('click', saveLib)

    async function saveLib(event) {
        event.preventDefault();
        const userContentBlocks = {}
        
        Array.from(document.querySelectorAll('.empty')).forEach(item => {
            userContentBlocks[item.id] = {
                content: item.outerText
            }
        })
        const pt = {{ madlib.text | dump | safe }}
        const data = {
            userContentBlocks,
            pt,
            libId: `{{ madlib._id }}`,
            libTitle: `{{ madlib.title }}`
        }
        postData('/.netlify/functions/userLib', data)
        .then(data => {
            const landingZone = document.createElement('div')
            landingZone.className = "libUrl"
            saver.after(landingZone)
            landingZone.innerHTML = `<a href="/userlibs/${data._id}" class="savedUrl">Your url is /userlibs/${data._id}</a>`

            return data; 
        });
    }





async function postData(url = '', data = {}) {
  // Default options are marked with *
  const response = await fetch(url, {
    method: 'POST', // *GET, POST, PUT, DELETE, etc.
    mode: 'cors', // no-cors, *cors, same-origin
    cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
    credentials: 'same-origin', // include, *same-origin, omit
    headers: {
      'Content-Type': 'application/json'
      // 'Content-Type': 'application/x-www-form-urlencoded',
    },
    body: JSON.stringify(data) // body data type must match "Content-Type" header
  });
  return response.json(); // parses JSON response into native JavaScript objects
}



  </script>
</html>